/* CSS by Bronte Fyke */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

          /* ///ADD/// CSS Reset */
/* universal box sizing */
html {
  box-sizing: border-box;
  font-size: 100%; /* Set consistent base font size */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* remove default list styles */
ul, ol {
  list-style: none;
}

/* make images and embeds responsive */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* improve text rendering */
body {
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background-color: #fff;
  color: #111;
}

/* remove link underlines, restore on hover/focus */
a {
  text-decoration: none;
  color: inherit;
}

/* set form element styles to inherit fonts */
input, button, textarea, select {
  font: inherit;
}

/* consistent table layout */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
  --zoom: transform .5s ease-in-out .1s;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #424242;
    }
}

          /* ///ADD/// Skip Link Styles */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus{
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}

/* ///ADD/// Navigation Styles */
header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 5;
}

header p {
  margin-bottom: 0.5rem;
}

.skip-to-content-link {
  position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip-to-content-link:focus {
  position: static;
  width: auto;
  height: auto;
  background-color: var(--watchdog-white);
}

nav label {
  margin-right: 4%;
  margin-left: 4%;
}

.menu-button {
  width: 92%;
  height: 3rem;
  border: none;
  background: var(--news-flash);
  color: #fff;
  display: inline-grid;
  place-items: center;
  text-transform: uppercase;
}

.menu-button:hover {
  background: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  cursor: pointer;
  transition: var(--transition);
}

.menu {
  position: absolute;
  top: calc(3rem + 0.5rem);
  left: 50%;
  transform: translate(-50%, 50%);
  display: none;
  background: var(--blue-bulletin);
  width: 92%;
  z-index: 10;
}

#menu-toggle:checked + .menu-button + .menu {
  display: block;
}

.menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.75rem 1rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-transform: uppercase;
  /* text-decoration: none; */
  border: 1px solid var(--blue-bulletin);
  width: 100%;
  transition: var(--transition);
  text-align: center;
}

.menu li a:hover,
.menu li a:focus {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}

/* ///ADD/// Global Layout Styles */

h1, h2, h3, p, small, .tagline, video, form, #social {
  padding: 0 4%;
}

h2 {
  padding-top: 2rem;
}

.news-card {
  background-color: var(--news-flash);
  margin: 10px 6%;
  padding: 4% 0px;
  box-shadow: var(--shadow);
  border: 1.5px solid var(--blue-bulletin);
  transition: var(--zoom);
}

.news-card h3 {
  position: relative;
  padding: 0 4% 0.5rem;
  margin-bottom: 0.75rem;
}

.news-card h3::after {
  content: "";
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 0;
  height: 0.5px;
  background: var(--watchdog-white);
}

.news-card:hover {
  transform: scale(1.08);
}

.featured-card {
  margin: 10px 6%;
  padding: 4% 0px;
  border: 0.5px solid var(--story-subtitle);
  box-shadow: var(--shadow);
  transition: var(--zoom);
}

.featured-card h3 {
  position: relative;
  padding: 0 4% 0.5rem;
  margin-bottom: 0.75rem;
}

.featured-card h3::after {
  content: "";
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 0;
  height: 0.5px;
  background: var(--story-subtitle);
}

.featured-card:hover {
  transform: scale(1.08);
}

form {
  background-color: var(--news-flash);
  margin: 10px 6%;
  padding: 4% 4%;
  box-shadow: var(--shadow);
  border: 1.5px solid var(--blue-bulletin);
}

form > label {
  display: block;
  text-align: left;
  margin-bottom: 0.75rem 4% 0.25rem;
  color: var(--watchdog-white);
}

form input,
form select {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid var(--blue-bulletin);
}

form button {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 1.1rem;
}

form button:hover {
  background-color: var(--watchdog-white);
  border-color: var(--blue-bulletin);
  color: var(--blue-bulletin);
  transition: var(--transition);

}

fieldset {
  border: 1.5px solid var(--blue-bulletin);
  border-radius: 2px;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;;
  color: var(--watchdog-white);
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}

fieldset input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 2px;
  border: 2px solid var(--watchdog-white);
  display: inline-block;
  accent-color: var(--blue-bulletin);
}

fieldset label {
  display: inline-block;
}

fieldset input[type="checkbox"] + label::after {
  content: "";
  display: block;
}

footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  margin-top: 2rem;
}

small {
  display: block;
  text-align: center;
  font-weight: 300;
  padding: 1rem 0rem;
}





/* ///ADD/// Global Text Styles */
h1, h2, h3, blockquote{
  font-family: var(--font-heading);
}

h1, h2, h3 {
  font-weight: 300;
}

blockquote {
  display: block;
  text-align: center;
  margin: 20px 0;
  padding
}

p {
  font-family: var(--font-body);
}

.news-card {
  color: var(--watchdog-white);
}

fieldset legend {
  text-transform: uppercase;
}

#social li {
  display: inline-flex;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  background-color: var(--news-flash);
  border: 1px solid var(--news-flash);
  text-transform: uppercase;
}

#social li:hover {
  background-color: var(--blue-bulletin);
  transition: var(--transition);
}

/* ///ADD/// medium styles 620px */
@media only screen and (min-width: 620px) {

/*menu*/
  .menu-button {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .menu {
    position: static;
    transform: none;
    display: flex !important;
    flex-wrap: wrap;
    background: transparent;
    width: auto;
    margin: 0.75rem 0 0 4%;
    padding: 0;
    justify-content: flex-start;
    gap: 0.8rem;
  }

  .menu li {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--news-flash);
    border: 1px solid var(--news-flash);
    color: var(--watchdog-white);
    text-transform: uppercase;
    transition: var(--transition);
  }

  .menu li a:hover,
  .menu li a:focus {
    background-color: var(--blue-bulletin);
  }

/*articles*/
  #breaking-news {
    padding-left: 0;
    padding-right: 0;
  }

  .breaking-news-section, .featured-articles-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 4%;
    margin-right: 4%;
  }

  .breaking-news-section > h2,
  .featured-articles-section > h2 {
    grid-column: 1 / -1;
  }

  .breaking-news-section > article,
  .featured-articles-section > article {
    margin-left: 2%;
    margin-right: 2%;
    row-gap: 0px;
    column-gap: 0px;
  }

/*form*/
  #namelabel {grid-area: namelabel;}
  #name {grid-area: name;}
  #mobilelabel {grid-area: mobilelabel;}
  #mobile {grid-area: mobile;}
  #preferences {grid-area: preferences;}
  #formsubmit {grid-area: submit;}


  form {
    display: grid;
    grid-template-areas: 
      "namelabel mobilelabel"
      "name mobile"
      "preferences preferences"
      "submit submit";
    column-gap: 2rem;
  }

  fieldset > div {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    justify-items: stretch;
  }  

}


























/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
/* Default: follow system preference */
@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}

/* Manual user override: force light mode */
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

/* Manual user override: force dark mode */
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}